@page "/favorites"
@inject FavoritesState FavoritesState
@implements IDisposable

<ul>
    @foreach (var movie in FavoritesState.Favorites)
    {
        <li>@movie.Title</li>
        <button @onclick="() => HandleRemoveFromFavorites(movie)">Remove from Favorites</button>
    }
</ul>

@code {
    protected override void OnInitialized()
    {
        FavoritesState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        FavoritesState.OnChange -= StateHasChanged;
    }

    public void HandleRemoveFromFavorites(Movie movie)
    {
        FavoritesState.RemoveFromFavorites(movie);
    }

}