@page "/favorites"
@inject FavoritesState FavoritesState
@inject UserService UserService
@implements IDisposable

@if (UserService.CurrentUser == null)
{
    <p>You must <a href="/login">log in</a> to view your favorites.</p>
}
else
{
    <h3>@UserService.CurrentUser.Username's Favorites</h3>
    <ul>
        @foreach (var movie in FavoritesState.Favorites)
        {
            <li>@movie.Title</li>
            <p>@note</p>
            <button @onclick="() => HandleRemoveFromFavorites(movie)">Remove from Favorites</button>
            <input @bind="inputValue" />
            <button @onclick="AddNote">Modify</button>
        }
    </ul>
}

@code {
    private string? note;
    private string? inputValue;
    protected override void OnInitialized()
    {
        FavoritesState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        FavoritesState.OnChange -= StateHasChanged;
    }

    public void HandleRemoveFromFavorites(Movie movie)
    {
        FavoritesState.RemoveFromFavorites(movie);
    }
    public void AddNote()
    {
        note = inputValue;
    }

}