@page "/inscription"
@inject UsersList UsersList
@inject NavigationManager NavigationManager


<h2>Inscription</h2>
<label for="username">Username:</label>
<input type="text" id="username" @bind="username"/>

<label for="pwd">Password:</label>
<input type="password" id="pwd" @bind="password"/>

<label for="submit">Submit</label>
<input type="submit" @onclick="HandleInscription"/> <!-- TODO: handle null input -->

@code{
    public string? password;
    public string? username;
    public void HandleInscription()
    {
        // Handle null input
        if(username == null || password == null)
        {
            return;
        }
        // Store user in scoped service
        // new User() calls the ConvertPasswordToHash internally, no need to do it here.
        User user = new(username,password);
        UsersList.Users.Add(user);
        NavigationManager.NavigateTo("/login");
    }

}