@page "/MovieComponent"
@inject SearchState SearchState
@implements IDisposable
@rendermode InteractiveServer

<p>Current Search: @SearchState.Query</p>

@code{
    protected override void OnInitialized()
    {
        SearchState.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        SearchState.OnChange -= StateHasChanged;
    }
}